<div class="bg-[#00B97D33] w-[316px] h-full fixed left-0 top-0 flex flex-col">
  <div class="edu-mingle absolute left-10 top-12">
    <span class="text-black font-extrabold text-5xl">Edu</span>
    <span class="text-[#00967D] font-extrabold text-5xl italic">M</span>
    <span class="text-black font-extrabold text-5xl">ingle</span>
  </div>
  <div
    class="left-10 mt-40 absolute text-[25px] font-semibold leading-[50px] flex flex-col"
  >
    <a routerLink="/admin/admin" routerLinkActive="active" class="sidebar-link"
      >Dashboard</a
    >
    <a routerLink="/admin/user" routerLinkActive="active" class="sidebar-link"
      >User Management</a
    >
    <a
      routerLink="/admin/content"
      routerLinkActive="active"
      class="sidebar-link"
      >Content Moderation</a
    >
    <a
      routerLink="/admin/analytics"
      routerLinkActive="active"
      class="sidebar-link"
      >Analytics</a
    >
    <a
      routerLink="/admin/donations"
      routerLinkActive="active"
      class="sidebar-link"
      >Donation Management</a
    >
  </div>
  <div class="ml-10 mt-[700px]">
    <button
      routerLink="/admin/signIn"
      class="text-[30px] font-semibold hover:text-red-600 transition-colors duration-200"
    >
      Sign Out
    </button>
  </div>
</div>
