<div class="communities">
  <app-inside-nav></app-inside-nav>

  <div class="community-options">
    <div class="community-card">
      <div class="create-a-community">Create a Community</div>
      <img
        class="lettering"
        src="lettering-time-to-learn-with-pencil-and-graduation-cap-sign-text.png"
      />
      <div class="frame-39474" routerLink="/communityCreate">
        <a class="go-to-community-creation-form">Create</a>
      </div>
    </div>

    <div class="or">OR</div>

    <div class="community-card mb-10">
      <div class="join-a-community">Join a Community</div>
      <img
        class="avatar-of-female-student-with-notebooks"
        src="avatar-of-female-student-with-notebooks.png"
      />
      <div class="frame-39475" routerLink="/allCommunities">
        <a class="go-to-all-communities">Join</a>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
