
.edumingle {
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  position: sticky;
  padding-left: 25px;
}
.eduMingle {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  height: 192px;
  position: relative;
  left: 31px;
  top: 260px;
  overflow: hidden;
  width: 85%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.edu-mingle-span {
  color: #00967d;
  font-family: "Poppins-BoldItalic", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  font-style: italic;
}
.header {
  display: flex;
  justify-content: space-between;
  /* margin-top: 10px; */
}
.searchIcon {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 288px;
  top: 20%;
}
.searchInput {
  background: #f1f1f1;
  border-radius: 15px;
  width: 330px;
  height: 50px;
  border: none;
  outline: none;
}
.searchInput:focus {
outline: 2px solid #00bba7;
border-color: #00bba7;
padding: 5px;
}
.search {
  text-align: center;
  position: relative;
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;

}
.searchInput::placeholder {
  font-size: 15px;
  padding-left: 15px;
}
.postbox {
  border-radius: 10px;
  border-style: solid;
  border-color: #656566 opacity transparent;
  border-width: 1px;
  width: 330px;
  height: 112px;
  position: absolute;
  left: 29px;
  top: 125px;
}
.image {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 10px;
  bottom: 12px;
}
.educateInput {
  border: none;
  outline: none;
  /* color: #656566; */
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  position: absolute;
  left: 62px;
  top: 25px;
  width: 250px;
  height: 23px;
}
.educatebtn {
  color: #ffffff;
  background: #00967d;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 240px;
  top: 70px;
  border-radius: 10px;
  width: 80px;
  height: 35px;
  border: none;
}
.communitySection {
  background: #e0f4f1;
  border-radius: 10px;
  width: 330px;
  height: 112px;
  position: absolute;
  left: 32px;
  top: 249px;
}
.need-help-ask-your-community {
  color: #000000;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 44px;
  top: 260px;
}
.ask-now {
  background: #00967d;
  border-radius: 10px;
  width: 72px;
  height: 31px;
  position: absolute;
  left: 44px;
  top: 315px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.catpic {
  width: 95px;
  height: 92px;
  position: absolute;
  left: 269px;
  top: 258px;
  object-fit: cover;
}
/* .frame-39389 {
border-radius: 10px;
border-style: solid;
border-width: 1px;
height: 297px;
height: 125px;
position: relative;
left: 31px;
top: 260px;
overflow: hidden;
width: 85%;
box-sizing: border-box;
margin-bottom: 10px;
} */
.post-input{
position: relative;
left: 31px;
top: 260px;
width: 85%;
word-wrap: break-word;
}
.ownPost
{
border-radius: 10px;
border-style: solid;
border-width: 1px;
height: 150px;
position: relative;
left: 31px;
top: 260px;
width: 85%;
word-wrap: break-word;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 20%;
margin-bottom: 10px;
}
.eduimage {
width: 20px;
height: 40px;
position: absolute;
left: 22.06px;
top: 14px;
transform: translate(-0.03px, 0.03px);
overflow: visible;
object-fit: cover;
border-radius: 50px;
}
.more {
width: 20px;
height: 20px;
position: absolute;
left: 296.06px;
top: 23px;
overflow: visible;
}
.image-18 {
position: absolute;
border-radius: 10px;
border-style: solid;
border-width: 1px;
width: 301px;
height: 100%;
left: 15px;
top: 90px;
object-fit: cover;
}
.image-19 {
position: absolute;
border-radius: 10px;
border-style: solid;
border-width: 1px;
width: 301px;
height: 151px;
left: 15px;
top: 105px;
object-fit: cover;
}
.chat {
width: 20px;
height: 20px;
position: absolute;
left: 75px;
bottom: 12px;
}
.bookmark {
width: 20px;
height: 20px;
position: absolute;
left: 145px;
top: 254px;
overflow: visible;
}
.love {
width: 25px;
height: 25px;
position: absolute;
left: 15px;
bottom: 10px;
overflow: visible;
}
.likeCount {
color: #000000;
text-align: left;
font-family: "Poppins-Regular", sans-serif;
font-size: 12px;
font-weight: 400;
position: absolute;
left: 43px;
bottom: 13px;
}
.image-21 {
width: 0px;
height: 0px;
position: absolute;
left: 18px;
top: 13px;
object-fit: cover;
}
.time {
color: #cecece;
text-align: left;
font-family: "Poppins-Regular", sans-serif;
font-size: 10px;
font-weight: 400;
position: relative;
left: 289px;
bottom: 3px;
}
.commentCount {
color: #000000;
text-align: left;
font-family: "Poppins-Regular", sans-serif;
font-size: 12px;
font-weight: 400;
position: absolute;
left: 103px;
bottom: 13px;
}

input {
outline: none !important;
}
.iconcamera {
position: relative;
top: 29px;
left: 213px;
opacity: 0.6;
width: 20px;
height: 20px;
}
.imageInput{
text-align: center;
border-radius: 5px;
}
.image-preview {
margin-top: 10px;
width:auto;
height: 55px;
position: absolute;
top: 42px;
left: 68px;
border-radius: 5px;
}
.eduname {
margin-left: 10px;
color: #000000;
text-align: left;
font-family: "Poppins-Regular", sans-serif;
font-size: 15px;
font-weight: 400;
position: absolute;
left: 65.06px;
top: 23px;
font-weight: 550;
}

.error-snackbar {
--mdc-snackbar-container-color: #00967d;
--mat-snack-bar-button-color: white;
}
.post-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
 
  margin-bottom: 10px;
  width: 85%;
  box-sizing: border-box;
  overflow: visible;
  position: relative;
  left: 31px;
  top: 260px;
  border-style: solid;
  border-color: #656566 opacity transparent;
  border-width: 1px;
}

.post-description {
  position: relative;
  left: 10px;
  font-size: 14px;
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
.name {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  position: absolute;
  top: 18px;
  left: 48px;
  font-weight: 550;
  padding-left: 10px;
  
}
._10 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 43px;
  bottom: 13px;
}
._3 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 103px;
  bottom: 13px;
}
.spaceUnder {
  color:transparent;
  position: absolute;
  top: 775px;
}
.iconfile {
  position: relative;
  top: 55px;
  left: 188px;
  opacity: 0.6;
}
.eduSpan {
  position: relative;
  top: 55px;
  left:16px;
  font-size: 15px;
}
.eduTime {
position: relative;
top:60px;
left:120px ;
color: #cecece;
text-align: left;
font-family: "Poppins-Regular", sans-serif;
font-size: 10px;
font-weight: 400;
left: 289px;
bottom: 3px;
}