<div class="frame-39389">
    <div class="puleng-khumalo">Puleng Khumalo</div>
    <div class="pulengkhumalo">pulengkhumalo</div>
    <div
      class="education-is-the-key-to-unlocking-potential-whether-in-the-classroom-or-the-pool-lifelong-learning-making-waves"
    >
      <span>
        <span
          class="education-is-the-key-to-unlocking-potential-whether-in-the-classroom-or-the-pool-lifelong-learning-making-waves-span"
        >
          Education is the key to unlocking potential—whether in the classroom or
          the pool. 🌊📚
        </span>
        <span
          class="education-is-the-key-to-unlocking-potential-whether-in-the-classroom-or-the-pool-lifelong-learning-making-waves-span2"
        >
          #LifelongLearning #MakingWaves
        </span>
      </span>
    </div>
    <img class="more" src="icons/more0.svg" />
    <div class="frame-39393">
      <img class="image-18" src="images/image-180.png" />
    </div>
    <div class="chat">
      <img class="chat2" src="icons/chat1.svg" />
    </div>
    <!-- <img class="bookmark" src="icons/bookmark0.svg" /> -->
    <img class="love" src="icons/love0.svg" />
    <div class="_10">10</div>
    <img class="image-21" src="images/image-210.png" />
    <div class="_25-minutes-ago">25 minutes ago</div>
    <div class="_3">3</div>
    <!-- <div class="_1">1</div> -->
    <img class="image" src="icons/image0.svg" />
  </div>
