.frame-39389,
.frame-39389 * {
  box-sizing: border-box;
}
.frame-39389 {
  border-radius: 10px;
  border-style: solid;
  /* border-color: #00967d; */
  border-width: 1px;
  height: 289px;
  position: relative;
  left: 22px;
  top: 280px;
  overflow: hidden;
  width: 89%;
}
.puleng-khumalo {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 65.06px;
  top: 15px;
}
.pulengkhumalo {
  color: #656566;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 65.06px;
  top: 33px;
}
.education-is-the-key-to-unlocking-potential-whether-in-the-classroom-or-the-pool-lifelong-learning-making-waves {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 59px;
  width: 306px;
  height: 45px;
}
.education-is-the-key-to-unlocking-potential-whether-in-the-classroom-or-the-pool-lifelong-learning-making-waves-span {
  color: #000000;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.education-is-the-key-to-unlocking-potential-whether-in-the-classroom-or-the-pool-lifelong-learning-making-waves-span2 {
  color: #5470ff;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
}
.more {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 296.06px;
  top: 23px;
  overflow: visible;
}
.frame-39393 {
  background: #bfbfbf;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 301px;
  height: 131px;
  position: absolute;
  left: 15px;
  top: 109px;
  overflow: hidden;
}
.image-18 {
  width: 301px;
  height: 200.76px;
  position: absolute;
  left: 0px;
  top: -13px;
  object-fit: cover;
}
.chat {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 81px;
  top: 254px;
}
.chat2 {
  width: 89.58%;
  height: 72.92%;
  position: absolute;
  right: 5.21%;
  left: 5.21%;
  bottom: 13.54%;
  top: 13.54%;
  overflow: visible;
}
.bookmark {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 145px;
  top: 254px;
  overflow: visible;
}
.love {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 15px;
  top: 251px;
  overflow: visible;
}
._10 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 43px;
  top: 255px;
}
.image-21 {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 18px;
  top: 13px;
  object-fit: cover;
}
._25-minutes-ago {
  color: #cecece;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 230px;
  top: 255px;
}
._3 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 103px;
  top: 257px;
}
._1 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 168px;
  top: 255px;
}
.image {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 22.06px;
  top: 14px;
  transform: translate(-0.03px, 0.03px);
  overflow: visible;
  object-fit: cover;
}