<app-info-nav></app-info-nav>

<div class="m-1 p-2 mt-11">
  <!-- about us box -->
  <div class="bg-[#d9edea] mx-auto p-2">
    <div class="text-center m-4">
      <h3>About EduMingle</h3>
      <br />
      <p>
        EduMingle is a social learning platform designed to connect students,
        foster collaboration, and enhance the educational experience of
        learners.
      </p>
    </div>
    <img class="image-17" src="images/image-170.png" />
  </div>

  <!-- our mission box -->
  <div class="mx-auto p-2">
    <div class="text-center m-4">
      <img class="ml-[110px] mb-3" src="icons/target0.png" alt="" />
      <h3>Our Mission</h3>
      <br />
      <p>
        At EduMingle, our mission is to democratize education by creating a
        global community of learners. We strive to provide a platform where
        students can connect, collaborate, and support each other in their
        educational journeys.
      </p>
    </div>
  </div>

  <!-- our values box -->
  <div class="bg-[#d9edea] mx-auto p-2">
    <div class="text-center m-2">
      <h3>Our Values</h3>
      <br />
      <div class="bg-white rounded-lg m-2 p-2">
        <img class="icons" src="icons/user-account0.png" alt="" />
        <h4 class="text-center">Community</h4>

        <p class="text-center">
          We believe in the power of community and peer-to-peer learning.
        </p>
      </div>
      <div class="bg-white rounded-lg m-2 p-2">
        <img class="icons" src="icons/shield0.png" alt="" />
        <h4 class="text-center mr-6">Safety</h4>

        <p class="text-center">
          We prioritize creating a safe and supportive learning environment.
        </p>
      </div>
      <div class="bg-white rounded-lg m-2 p-2">
        <img class="icons" src="icons/light-on0.png" alt="" />
        <h4 class="text-center">Innovation</h4>

        <p class="text-center">
          We continuously innovate to enhance the learning experience.
        </p>
      </div>
      <div class="bg-white rounded-lg m-2 p-2">
        <img class="icons" src="icons/literature0.png" alt="" />
        <h4 class="text-center">Accessibility</h4>

        <p class="text-center">
          We ensure access to learning for everyone, no matter their background.
        </p>
      </div>
    </div>
  </div>
</div>
