<div class="text-center m-1 p-1">
  <div class="dash flex items-center justify-between w-full">
    <app-info-nav></app-info-nav>
  </div>

  <div class="mt-[100px]">
    <img
      class="h-[300px] w-[300px] ml-[35px]"
      src="images/multitasking-man-writing-while-talking-on-the-phone0.png"
    />

    <div class="text-center m-0 p-2">
      <span>
        <span class="text-[40px] leading-[40px] font-bold"> Welcome </span>
      </span>

      <p class="text-[19px] m-1">
        Your personalised learning journey starts here. By fostering a sense of
        community, we aim to combat isolation and make education not just
        accessible, but enjoyable.
      </p>

      <div class="mt-2 ml-[310px] mt-[50px]">
        <button
          class="flex items-center justify-center bg-[#00967d] hover:bg-[#007a5a] text-white font-semibold p-3 rounded-full transition"
          routerLink="/welcome2"
        >
          <img class="w-4 h-4" src="icons/direction-right1.svg" />
        </button>
      </div>

      <div class="text-s font-small text-gray-600 mt-6">1/2</div>
    </div>
  </div>
</div>
